@import "./../../../../styles.scss";
:host {
  width: 100%;
  height: 100%;
}
.wrapper {
  background-color: $backgroundPrimary;
  display: grid;
  place-items: center;
  width: 100%;
  height: 100vh;
  color: $textPrimary;

  .card {
    background-image: url("https://images.pexels.com/photos/1626481/pexels-photo-1626481.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    display: grid;
    grid-template-columns: 40% 60%;
    width: calc(80% - 80px);
    min-height: 700px;
    background-size: inherit;
    background-position: center;
    border-radius: 8px;
    overflow: hidden;
    border: none;
    box-shadow: $boxShadow;

    &__login {
      background-color: $white;
      height: 100%;
      position: relative;
      display: grid;
      place-items: center;
      width: calc(53vh);
      min-width: 550px;
      grid-template-rows: 90% 10%;

      .login__logo {
        position: absolute;
        top: 15px;
        left: 15px;
        display: flex;
        align-items: center;
        margin-bottom: 0;
        @extend .logo;
        margin-left: 8px;
        width: 145px;
        justify-content: space-between;
        img {
          margin: 0;
        }
        h2 {
          margin: 0;
        }
      }

      .login__title {
        text-align: center;
        margin-bottom: 5rem;
        font-size: 15pt;
      }

      .login__error {
        position: absolute;
        top: 80px;
        right: 0px;
        left: 46px;
      }

      .login__form--group {
        @extend .form--group;
      }

      .login__form--submit {
        @extend .form--submit;
      }
    }

    .card__login--signup {
      p {
        font-weight: 400;

        a {
          text-decoration: none;
          color: $primary;

          &:hover {
            color: $textSecondary;
          }
        }
      }
    }
  }
}
