<section class="wrapper">
  <div class="card">
    <section class="card__login signOut">
      <div class="card__login--form">
        <figure class="login__logo">
          <img
            src="https://img.icons8.com/ios-glyphs/30/ee6f57/audio-wave.png"
          />
          <h2>Spotify clone</h2>
        </figure>
        <h1 class="login__title" *ngIf="welcomeMessage !== true">
          Ingresa a tu cuenta
        </h1>
        <h1 class="login__title" *ngIf="welcomeMessage == true">
          ¡Bienvenido!
        </h1>
        <mat-error class="login__error">{{ errorMessage }}</mat-error>
        <figure class="login__animation">
          <img
            src="../../../assets/images/loading.gif"
            alt="Loading animation"
            *ngIf="welcomeMessage == true"
          />
        </figure>
        <form
          class="login__form"
          (ngSubmit)="Login($event)"
          *ngIf="welcomeMessage !== true"
          [formGroup]="form"
        >
          <div class="login__form--group">
            <label class="form__label" for="email">Email</label> <br />
            <input
              id="email"
              formControlName="email"
              class="form__input"
              type="text"
              name="email"
            />
            <div *ngIf="emailField.errors && emailField.dirty">
              <mat-error *ngIf="emailField.hasError('required')"
                >El campo es requerido</mat-error
              >
              <mat-error *ngIf="emailField.hasError('email')"
                >Ingrese un email valido</mat-error
              >
            </div>
          </div>
          <div class="login__form--group">
            <label class="form__label" for="password">Contraseña</label> <br />
            <input
              id="password"
              class="form__input"
              type="password"
              name="password"
              formControlName="password"
            />
            <div *ngIf="passwordField.errors && passwordField.dirty">
              <mat-error *ngIf="passwordField.hasError('required')"
                >El campo es requerido</mat-error
              >
            </div>
          </div>
          <div class="login__form--submit">
            <button class="form__button" [disabled]="form.invalid">
              Ingresar
            </button>
          </div>
        </form>
      </div>

      <div class="card__login--signup" *ngIf="welcomeMessage !== true">
        <p>
          Registrate
          <a [routerLink]="['/signup']" routerLinkActive="router-link-active"
            >aquí</a
          >
        </p>
      </div>
    </section>
  </div>
</section>
