<section class="hero">
  <div class="hero__wrapper">
    <div class="hero__wrapper--text">
      <p>Mariah Key</p>
      <h1>Welcome!</h1>
    </div>
    <figure class="hero__wrapper--image">
      <img src="assets/images/dancing.png" alt="" />
    </figure>
  </div>
</section>
<section class="playlist">
  <section class="playlist__header">
    <div class="playlist__header--title">
      <h3>New Releases</h3>
      <p>22 positions</p>
    </div>
  </section>
  <app-carousel></app-carousel>
</section>
<section class="songs">
  <section class="songs__header">
    <div class="songs__header--title">
      <h3>Most popular songs</h3>
      <p>30 songs</p>
    </div>
    <!-- <button class="songs__header--more">
      <mat-icon>more_vert</mat-icon>
    </button> -->
  </section>
  <section class="songs__content">
    <app-songlist></app-songlist>
  </section>
</section>
<section class="suggested">
  <section class="suggested__header">
    <div class="suggested__header--title">
      <h3>Suggestions</h3>
      <p>14 songs</p>
    </div>
    <!-- <button class="suggested__header--more">
      <mat-icon>more_vert</mat-icon>
    </button> -->
  </section>
  <section class="suggested__content">
    <app-slider></app-slider>
  </section>
</section>
