@import "./../../../../../styles.scss";

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $secondary;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $primary;
}

:host {
  @extend .page-vision;
}

.header {
  position: fixed;
  width: 100%;
  background-color: $white;
  height: $headerHeight;
  top: 0;
  border-bottom: $borderHeader;
  border-top: 4px solid $primary;
  display: flex;
  justify-content: space-between;
  width: calc(100% - 220px);
  z-index: 1;
  .searcher {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 23px;
    width: 320px;
    padding-left: 25px;
    margin-left: 40px;
    &__input {
      height: 25px;
      border: none;
      @extend .input;
      &:focus {
        border-bottom-color: $primary;
        border-top-color: $white;
        border-left-color: $white;
        border-right-color: $white;
        box-shadow: none;
      }
      &:hover {
        border-bottom-color: $primary;
        border-top-color: $white;
        border-left-color: $white;
        border-right-color: $white;
        box-shadow: none;
      }
    }
    &__button {
      border: none;
      background: none;
      width: 40px;
      padding: 0;
      margin-right: 5px;
      height: 24px;
      &:focus {
        mat-icon {
          color: $primary;
        }
        outline: none;
      }
      &:hover {
        mat-icon {
          color: $primary;
        }
      }
      &--search {
        color: $soft;
        font-size: 16pt;
      }
      &--dropdown {
        color: $soft;
        font-size: 20pt;
      }
    }
    &__chips {
      display: none;
      position: absolute;
      overflow: scroll;
      background-color: white;
      width: 265px;
      height: 200px;
      top: 60px;
      left: 68px;
      overflow-x: hidden;
      box-shadow: $boxShadow;
      border-radius: 20px;
      border-top-right-radius: unset;
      border-bottom-right-radius: unset;
      font-family: $montserrat;
      &.active {
        display: block;
      }
      p {
        background: $tertiary;
        color: white;
        text-align: center;
      }
      ul {
        list-style: none;
        padding: 0;
        text-align: center;
        li {
          button {
            width: 100%;
            border: none;
            background: transparent;
            &:focus {
              outline: none;
              background: $primary;
              color: white;
            }
          }
          &:hover {
            cursor: pointer;
            background-color: rgb(238, 111, 87, 0.1);
            &:focus {
              background-color: $white;
              box-shadow: $boxShadow;
            }
          }
        }
      }
    }
  }
  .profile {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 25px;
    padding-left: 25px;
    text-decoration: none;
    color: $secondary;
    border-left: $borderHeader;
    &__image {
      width: 35px;
      height: 35px;
      margin: 0 15px 0 0;
      img {
        width: 100%;
        border-radius: 50%;
        object-fit: cover;
        height: 100%;
        box-shadow: 0px 0px 1px 1px #1d1c1c;
      }
    }
    &__name {
      font-size: medium;
      font-weight: 500;
      font-family: $montserrat;
    }
    &:hover,
    &:focus {
      background: $background;
    }
    &.active {
      background: $primary;
      color: $white;
    }
  }
}
