<nav class="header">
  <section class="searcher">
    <button class="searcher__button">
      <mat-icon class="searcher__button--search"> search </mat-icon>
    </button>
    <input
      type="text"
      class="searcher__input"
      placeholder="Enter your search request"
    />
    <button class="searcher__button" (click)="dropGenres()">
      <mat-icon class="searcher__button--dropdown" *ngIf="dropDown">
        arrow_drop_down</mat-icon
      >
      <mat-icon class="searcher__button--dropdown" *ngIf="!dropDown">
        arrow_drop_up</mat-icon
      >
    </button>
  </section>
  <!-- <mat-chip-list class="searcher__chips" aria-label="Fish selection">
    <mat-chip *ngFor="let genre of genres">{{ genre.name }}</mat-chip>
  </mat-chip-list> -->
  <div class="searcher__chips">
    <p>Or filter it by genres</p>
    <ul>
      <li *ngFor="let genre of genres">
        <button (click)="getGenre(genre.name)">{{ genre.name }}</button>
      </li>
    </ul>
  </div>

  <a class="profile" routerLink="/profile" routerLinkActive="active">
    <figure class="profile__image">
      <img src="assets/images/profile.jpeg" alt="User picture" />
    </figure>
    <span class="profile__name">{{ user.name }} {{ user.lastname }}</span>
  </a>
</nav>
