@import "./../../../../../styles.scss";
.carousel {
  width: 95%;
  font-family: $montserrat;
  &-inner {
    box-shadow: $boxShadow;
    border-radius: 30px;
    .carousel-item {
      img {
        height: 435px;
        object-fit: cover;
      }
    }
  }
}
