@import "./../../../../../styles.scss";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.sidenav {
  position: fixed;
  border-top: 4px solid $primary;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  padding-top: 20px;
  width: $sidenavWidth;
  color: $textPrimary;
  background: $background;

  &__navigation {
    display: flex;
    flex-direction: column;
    min-height: 100%;

    .navigation__header {
      text-decoration: none;
      &--logo {
        @extend .logo;
        display: flex;
        margin: 0 25px;
        align-items: center;
        max-width: 100%;
        h2 {
          padding-top: 8px;
          font-family: $montserrat;
        }
      }
    }
    .navigation__section {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      margin-top: 35px;

      &--title {
        h3 {
          text-transform: uppercase;
          letter-spacing: 0.15em;
          font-size: 12px;
          margin-top: 12px;
          color: $subtitle;
          font-weight: 700;
          font-family: $montserrat;
        }
      }

      li {
        list-style: none;
        &:nth-last-child(2) {
          margin-bottom: 35px;
        }
        &:last-child {
          margin-top: auto;
          margin-bottom: 20px;
        }
        & > * {
          width: 100%;
          padding: 12px 15px;
        }

        a {
          color: inherit;
          text-decoration: none;
          display: flex;
          align-items: center;
          font-size: 0.9rem;
          transition: background 0.2s, color 0.2s;
          &:hover,
          &:focus {
            background: $background;
            color: $primary;
            outline: none;
          }
          &.active {
            background: $primary;
            color: $background;
            outline: none;
            mat-icon {
              color: $white;
            }
            span {
              color: $white;
              font-weight: 500;
            }
          }

          mat-icon {
            color: rgba(0, 0, 0, 0.5);
            margin-right: 10px;
          }

          span {
            color: $subtitle;
          }
        }

        button {
          background: none;
          padding-left: 60px;
          color: $subtitle;
          cursor: pointer;
          border: none;
          display: flex;
          align-items: center;
          font-size: 0.9rem;
          transition: background 0.2s, color 0.2s;
          font-family: inherit;
          &:hover,
          &:focus {
            background: $background;
            color: $primary;
            outline: none;
          }
          &:active {
            background: $primary;
            color: $background;
            outline: none;
            font-weight: 500;
            mat-icon {
              color: $white;
            }
            // span {
            //   color: $white;

            // }
          }

          mat-icon {
            color: inherit;
            margin-right: 10px;
            transform: rotate(180deg);
          }
          span {
            color: inherit;
          }
        }
      }
    }
  }
}
