<div class="container">
  <section class="profile">
    <figure class="profile__image">
      <img src="./../../../../../assets/images/profile.jpeg" alt="" />
    </figure>
    <h3 class="profile__name">Mariah Key</h3>
  </section>

  <section class="options">
    <ul class="options__list">
      <li><a href="/home">Home</a></li>
      <li>
        <a href="/music-player">Player</a>
      </li>
    </ul>
  </section>

  <section class="signout">
    <ul class="signout__list">
      <li><a href="/signup">Salir</a></li>
    </ul>
  </section>
</div>
