// Imports
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

// ------------ Atoms ------------
// Theme colors
$primary: #ff971d;
$secondary: #ffe8d6;
$background: #f9f6f7;
$white: #ffffff;

// Font-families
$montserrat: 'Montserrat', sans-serif;

.button{
    width: 100%;
    height: 100%;
    color: $white;
    background-color: $primary;
    border: none;
    letter-spacing: 1px;
    border-radius: 5px;
    font-family: $montserrat;

    &:hover{
        color: $primary;
        background-color: $white;
        border: 1px solid $primary;
        cursor: pointer;
    }
    &:focus{
        outline: none;
        border: 1px solid black;
    }
}

.label {
    font-size: .8rem;
}

.input{
    height: 30px;
    width: 300px;
    border-radius: 5px;
    padding: 5px;
    font-size: 1rem;
    border: 2px solid $background;

    &:hover{
        border: 1px solid black;
    }
    &:focus{
        outline: none;
        border: 1px solid black;
    }
}

.logo{
    img {
        filter: invert(69%) sepia(39%) saturate(2950%) hue-rotate(344deg)
            brightness(101%) contrast(101%);
        height: 30px;
        margin-right: 10px;
        margin-top: 8px;
        }

        h2 {
        color: $primary;
        font-size: 12pt;
        }
}
// ------------ Molecules ------------
.form--group{
    padding-bottom: 1rem;
    .form__label{
        @extend .label;
    }
    .form__input{
        @extend .input;
    }
}
.form--submit{
    height: 40px;
    width: 315px;
    border-radius: 5px;
    font-size: 1rem;
    .form__button{
        @extend .button;
    }
}

// ------------ Global styles ------------
html, body {
    padding: 0;
    margin: 0;
    font-family: $montserrat;
}